@tailwind base;
@tailwind components;
@tailwind utilities;

.product-card {
    /* margin: 2px; */
    width: 240px;
    height: 280px;
    padding: 10px;
    text-align: center;
    /* border: 1px solid red; */

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.product-card .img-container {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card .img-container img {
    max-height: 100%;
}

.product-details {
    
}
.product-img-full {
    /* width: 30% */
    height: 240px;
    margin-right: 50px;
}

.product-info {
    /* margin-left: 40px; */
    max-width: 600px;
    float: left;

}
.product-descr {
    margin-top: 20px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 999998;
}

.modal-div {
    position: fixed;
    z-index: 999999;
    left: 15%;
    top: 130px;
    width: 70%;
    background-color: white;
    padding: 20px;
}

.modal-header {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px
}

label {
    display: block;
    font-weight: bold;

}
input, input:focus {
    border: none;
    padding: 2px;
    border: 1px solid gray;
    width: 80%;
    border-radius: 17px;
    padding: 7px !important;
}

input:focus {
    border: 1.5px solid gray;
}

form div {
    width: 50%;
    margin: 5px 0 0 0;
}

label:after {content: '*';}

nav {
    position: fixed;
    z-index: 99999;
    top: 0;
    padding: 0 20px;
    width: 100vw;
    background: white;
    border-bottom: 1.5px solid gray
}

#plnts-contents {
    margin: 80px 25px 0 25px;
    min-height: 700px;
    padding-bottom: 100px;
}

#plnts-footer {
    
    border-top: 2px solid gray;
    text-align: center;
    min-height: 80px;
    margin: 2px;
    padding: 30px 0 0 0 ;
    /* background-color: ghostwhite; */
}

#cart-list .product-title {
    /* min-width: 250px; */
    max-width: 50%
}

.cart-list-item {
    width: 60%;
    position: relative;
    min-height: 80px;
    margin: 8px 0;
    padding: 4px 0;

    min-width: 80%;
}

.cart-list-item .item-end-col {
    position: absolute;
    /* display: flex; */
    right: 10px;
    padding: 0 0 10px 6px;
}

#cart-list .product-title {
    max-width: 60%;
    /* margin-left:8px; */
    padding-left:10px;
}

#home-banner {
    /* height: 280px */
    /* width: 100vw; */
}