@tailwind base;
@tailwind components;
@tailwind utilities;

.product-card {
    /* margin: 2px; */
    padding: 2px;
    border: 1px solid red;
    border-radius: ;
}

.product-details {
    
}
.product-img-full {
    width: 30%
}

.product-info {
    margin-left: 20px;
}
.product-descr {
    margin-top: 20px;
}